body {
  text-align: center;
  background-color: aqua;

}

header {
  border: 2px solid red;
  margin: 2em;
  background-color: aqua;

}

main {
  border: 2px solid gold;
  margin: 2em;
  background-color: aqua;


}

footer {
  border: 2px solid purple;
  margin: 1em;
  background-color: aqua;
}



nav {
  border: 2px solid purple;
  margin: 1em;
  background-color: aqua;
}

section {
  border: 2px solid blue;
  margin: 2em;
  background-color: aqua;
}

div {
  border: 2px solid orange;
  margin: 1em;
  flex-grow: 1;
  background-color: rgb(2, 2, 2);
}

button {
  font-stretch: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(255, 5, 163);
  flex-flow: column-reverse;
}